<!DOCTYPE html>
<html>
<head>
  <title>flask練習</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="container">
  <h1>サイト情報</h1>
  <h2>対象UR!</h2>
  {% for bullet in xs %}
  <li>{{ bullet }}</li>
  {% endfor %}
  <h2>見出し要素</h2>
  {% for bullet in xn %}
  <li>{{ bullet }}</li>
  {% endfor %}
  {% for bullet in xn2 %}
  <li>{{ bullet }}</li>
  {% endfor %}
  <h2>見出し要素</h2>
  {% for bullet in ganba %}
  <li>{{ bullet }}</li>
  {% endfor %}
  <!--{% for bullet in ganba2 %}
  <li>{{ bullet }}</li>
  {% endfor %}-->
</div>
</body>
</html>